<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/static/style.css?v=2">
    <link rel="icon" href="/static/mickey.jpeg">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">



</head>


<body>
    <div class="options">
        <h1>Micky's Portfolio</h1>
        <ul>
            <li>
                <a href="#home">Home</a>
            </li>
            <li>
                <a href="#skills">Skills</a>
            </li>
            <li>
                <a href="#project">Projects</a>
            </li>
            <li>
                <a href="#experience">Experience</a>
            </li>
            <li>
                <a href="#contact">Contact</a>
            </li>
        </ul>
    </div>

    <div class="intro" id="home">
        <h1 class="name">Mogan Janarthanan</h1>
        <h2 class="role">Devops Engineer</h2>
        <h3>Location : Chennai - 600063</h3>
        <h3>Phno. : +91 9080846985</h3>
        <p></p>
        <a href="#contact"><i class="fa fa-paper-plane"></i> Email-contact</a>
        <a href="https://www.linkedin.com/in/mogan-j-711mic2004"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
        <a href="https://github.com/mogan311"><i class="fa-brands fa-github"></i> GitHub</a>
        <a href="/static/Mogan_Resume.pdf" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-file-arrow-down"></i> Resume</a>

        <img src="/static/image1.jpeg" class="photo" alt="picture">

    </div>

    <div class="beigebackgroundcolor">
            <h1>
                About Me
            </h1>
            <p>
                Passionate about the intersection of software 
                development and system operations. I specialize 
                in leveraging automation to solve complex 
                infrastructure challenges. Driven by the 
                "automate everything" philosophy, I am dedicated 
                to building scalable, secure, and efficient cloud 
                environments using AWS and modern DevOps toolchains. 
                A fast learner with a proven ability to adapt engineering 
                logic to cloud-native technologies.
            </p>
            <h2>
                Education
            </h2>
            <ul>
                <li class="degree">
                    Bachelor of Engineering
                </li><br>
                <li class="department">
                    Electronics and Communication Engineering
                </li><br>
                <li class="collegename">
                    Kongunadu College of Engineering and Technology
                </li><br>
                <li class="collegeplace">
                    Trichy - 621215
                </li>
            </ul>
            <div class="cgpabox">
                <h3>CGPA</h3>
                <h4>7.9/10</h4>
            </div>
    </div>

    <center>
        <h1 class="skills" id="skills">Skills & Tools</h1>
    </center>


    <div class="container">


        <!-- Here we are creating the box that is used to to carry the skills of mickey -->
        <div class="skillsouterbox">
            <h1>DevOps & Clouds</h1>

            <div class="skillsinnerbox">
                <i data-lucide="cloud"></i>
                <span>AWS</span>
            </div>

            <div class="skillsinnerbox">
                <i data-lucide="package"></i>
                <span>Maven</span>
            </div>

            <div class="skillsinnerbox">
                <i data-lucide="server-cog"></i>
                <span>Jenkins</span>
            </div>

            <!-- in up coming day we can try to add more tools in the Devops -->
        </div>
        
        
        <div class="skillsouterbox">
            <h1>Programming</h1>

            <div class="skillsinnerbox">
                <i data-lucide="code"></i>
                <span>Java (basic)</span>
            </div>

            <div class="skillsinnerbox">
                <i data-lucide="code"></i>
                <span>Python (basic)</span>
            </div>

            <div class="skillsinnerbox">
                <i data-lucide="terminal"></i>
                <span>Bash</span>
            </div>
        </div>

         <div class="skillsouterbox">
            <h1>Version Control</h1>

            <div class="skillsinnerbox">
                <i data-lucide="git-branch"></i>
                <span>Git</span>
            </div>

            <div class="skillsinnerbox">
                <i data-lucide="git-commit"></i>
                <span>Git-Hub</span>
            </div>
        </div>

        <div class="skillsouterbox">
            <h1>Monitoring</h1>

            <div class="skillsinnerbox">
                <i data-lucide="bar-chart"></i>
                <span>Prometheus</span>
            </div>

            <div class="skillsinnerbox">
                <i data-lucide="activity"></i>
                <span>Grafana</span>
            </div>
        </div>

        <div class="skillsouterbox">
            <h1>Operating System</h1>

            <div class="skillsinnerbox">
                <i data-lucide="monitor"></i>
                <span>Windows</span>
            </div>

            <div class="skillsinnerbox">
                <i data-lucide="settings"></i>
                <span>Linux</span>
            </div>
        </div>
    </div>

    <!-- Here we are going to create the Myproject section -->
    
    <center>
        <h1 class="projectname" id="project">My Projects</h1>
    </center>

    <!-- here we are going to create the two projects like acedamic and devops -->

    <div class="projecttitlebox">
        <button class="academic">Academic Projects</button>
        <button class="devops">DevOps Projects</button>
    </div>


<!--Automatic Blind Time wreck control system  -->


    <div id="academic-container">
        <div class="projectouterbox">
            <div class="mainbox">
                <div class="projecticonbox">
                    <i data-lucide="calendar"></i>
                </div>

                <div class="projecttitlearea">
                    <h2>Automatic Blind Time Wreck Control System</h2>
                    <span>14-09-2023</span>
                </div>
                <div class="dropdown">
                    <i data-lucide="chevron-down"></i>
                </div>
            </div>
            <div class="subbox">
                <p>The Automatic Blind Time Wreck Control System is designed to improve road safety during low-visibility conditions like fog.
                    It uses sensors to detect nearby vehicles and continuously monitor the distance between them.
                    When a vehicle comes too close, the system automatically reduces the engine RPM to slow down the car.
                    This helps in maintaining a safe distance and prevents sudden collisions.
                    The system provides a simple and cost-effective solution to reduce accidents and improve driving safety.
                </p>
            </div>
        </div>

        <!-- Automatic blind time wreck control system using odium -->

        <div class="projectouterbox">
            <div class="mainbox">
                <div class="projecticonbox">
                    <i data-lucide="calendar"></i>
                </div>

                <div class="projecttitlearea">
                    <h2>Automatic Blind Time Wreck Control System Using Odium</h2>
                    <span>12-03-2024</span>
                </div>
                <div class="dropdown">
                    <i data-lucide="chevron-down"></i>
                </div>
            </div>
            <div class="subbox">
                <p>The Automatic Blind Time Wreck Control System 
                is developed to prevent road accidents that 
                occur due to low visibility conditions such 
                as fog. In such situations, maintaining 
                proper distance and lane discipline becomes 
                difficult, leading to collisions. The proposed
                 system uses sensors to detect nearby 
                 vehicles and obstacles in real time. 
                 Unlike existing systems that only provide 
                 alerts, this system introduces a magnetic 
                 repulsion mechanism to automatically maintain 
                 a safe distance between vehicles. This helps in 
                 reducing collision risks and improving road safety. 
                 The system aims to provide an effective and innovative 
                 solution for accident prevention in poor visibility 
                 conditions.
                </p>
            </div>
        </div>


        <!-- Snazzy Blinder using Beckon -->

        <div class="projectouterbox">
            <div class="mainbox">
                <div class="projecticonbox">
                    <i data-lucide="calendar"></i>
                </div>
                <div class="projecttitlearea">
                    <h2>Snazzy Glider Using Beckon</h2>
                    <span>28-09-2024</span> 
                </div>
                <div class="dropdown">
                    <i data-lucide="chevron-down"></i>
                </div>
            </div>
            <div class="subbox">
                <p>
                    The project "Snazzy Glider Using Beckon" 
                    is to creating a wheeled glider system 
                    that is controlled through hand gestures 
                    using a flex sensor. This glider integrates 
                    DC motors for driving the wheels, a motor 
                    driver for precise motor control, and an LCD d
                    isplay to provide real-time visual feedback on 
                    movement directions and system status. The core 
                    of the system lies in the flex sensor, which 
                    captures hand gestures and translates them into 
                    corresponding movement commands. By bending the 
                    flex sensor in specific patterns, users can 
                    control the glider's direction forward, backward, 
                    left and right without physical contact with a 
                    traditional controller. The LCD display adds an 
                    additional layer of user interaction, displaying 
                    the current movement commands and system 
                    diagnostics to ensure a seamless user experience.
                </p>
            </div>
        </div>


        <!--CEREBROVASCULAR ACCIDENT DETECTOR USING FPGA-->
        <div class="projectouterbox">
            <div class="mainbox">
                <div class="projecticonbox">
                    <i data-lucide="calendar"></i>
                </div>
                <div class="projecttitlearea">
                    <h2>Cerebrovascular Accident Detector Using FPGA</h2>
                    <span>06-01-2025</span>
                </div>
                <div class="dropdown">
                    <i data-lucide="chevron-down"></i>
                </div>
            </div>
            <div class="subbox">
                <p>
                    An FPGA-based cerebrovascular accident 
                    detector for real-time stroke diagnosis 
                    and prediction is presented in this work. 
                    In order to identify abnormal cerebral 
                    activity suggestive of a stroke, the 
                    system integrates biomedical signal 
                    processing techniques and analyzes data 
                    from blood flow sensors and EEG. FPGA 
                    implementation guarantees high-speed 
                    processing, low latency, parallel computation, 
                    and energy efficiency, which makes it perfect 
                    for real-time applications in contrast to 
                    traditional microcontroller-based systems. 
                    Continuous physiological data monitoring is 
                    made possible by the optimized hardware 
                    architecture, which uses machine learning 
                    and digital signal processing (DSP) techniques 
                    to produce immediate alarms when irregularities 
                    related to stroke are detected. To improve 
                    accessibility to stroke detection in clinical 
                    and home healthcare settings, the system can also 
                    be connected with telemedicine platforms for 
                    remote patient monitoring. Its potential as a 
                    trustworthy diagnostic tool is demonstrated by 
                    experimental evaluations that show great accuracy 
                    in identifying early stroke symptoms. This research 
                    advances FPGA-based medical diagnostic systems by 
                    offering a quick and effective stroke detection 
                    method, opening the door for portable, real-time, 
                    and efficient stroke monitoring devices.
                </p>
            </div>
        </div>

        <!-- Efficient VLSI Based Image Enhancement Using VHDL -->

        <div class="projectouterbox">
            <div class="mainbox">
                <div class="projecticonbox">
                    <i data-lucide="calendar"></i>
                </div>
                <div class="projecttitlearea">
                    <h2>Efficient VLSI Based Image Enhancement Using VHDL</h2>
                    <span>07-04-2025</span>
                </div>
                <div class="dropdown">
                    <i data-lucide="chevron-down"></i>
                </div>
            </div>
            <div class="subbox">
                <p>
                    Image processing faces several challenges, 
                    particularly in low-light conditions where 
                    cameras struggle to achieve precise focus. 
                    Many camera systems on detecting 
                    contrast in dark environments, often 
                    leading to missed focus and blurred images. 
                    Even when there is no camera or subject 
                    motion, focus errors can still degrade 
                    image quality. To overcome these 
                    issues, software-based image enhancement 
                    techniques are implemented to improve 
                    the quality of images captured in darker 
                    environments. While Near Infrared flash 
                    can be used as an alternative, it is 
                    expensive and may not always align with 
                    user requirements due to its reflection-based 
                    working principle. This study proposes an image 
                    enhancement system using Verilog HDL, 
                    simulated in Modelsim 6.4c, and synthesized 
                    using the Xilinx tool. The integration of Hardware Description 
                    Language in image processing replaces 
                    traditional simulation methods, enabling 
                    direct hardware implementation through 
                    Very Large Scale Integration. 
                    The proposed system demonstrates 
                    an enhancement efficiency of 
                    approximately 85%, significantly 
                    improving image clarity compared 
                    to conventional methods.
                </p>
            </div>
        </div>
    </div>

    <div id="devops-container" class="hidden">

        <div class="projectouterbox">
            <div class="mainbox">
                <div class="projecticonbox">
                    <i data-lucide="calendar"></i>
                </div>
                <div class="projecttitlearea">
                    <h2>Efficient VLSI Based Image Enhancement Using VHDL</h2>
                    <span>07-04-2025</span>
                </div>
                <div class="dropdown">
                    <i data-lucide="chevron-down"></i>
                </div>
            </div>
            <div class="subbox">
                <p>
                    Image processing faces several challenges, 
                    particularly in low-light conditions where 
                    cameras struggle to achieve precise focus. 
                    Many camera systems on detecting 
                    contrast in dark environments, often 
                    leading to missed focus and blurred images. 
                    Even when there is no camera or subject 
                    motion, focus errors can still degrade 
                    image quality. To overcome these 
                    issues, software-based image enhancement 
                    techniques are implemented to improve 
                    the quality of images captured in darker 
                    environments. While Near Infrared flash 
                    can be used as an alternative, it is 
                    expensive and may not always align with 
                    user requirements due to its reflection-based 
                    working principle. This study proposes an image 
                    enhancement system using Verilog HDL, 
                    simulated in Modelsim 6.4c, and synthesized 
                    using the Xilinx tool. The integration of Hardware Description 
                    Language in image processing replaces 
                    traditional simulation methods, enabling 
                    direct hardware implementation through 
                    Very Large Scale Integration. 
                    The proposed system demonstrates 
                    an enhancement efficiency of 
                    approximately 85%, significantly 
                    improving image clarity compared 
                    to conventional methods.
                </p>
            </div>
        </div>

    </div>

    <!-- creating the experience box -->
    <center>
        <h1 class="experience" id="experience">Experience</h1>
    </center>

    <div class="Experiencebox">
        <h2>Product Engineer - [Testing Team]</h2>
        <h3>Tata Electronics Pvt. Ltd.</h3>
        <a href="https://www.google.com/maps/place/TATA+Electronics+Product+and+Solutions+Pvt+Ltd/@12.7178048,80.0185739,17z/data=!4m14!1m7!3m6!1s0x3a52f9c0989ff441:0x3844ddfcbbb191f0!2sTATA+Electronics+Product+and+Solutions+Pvt+Ltd!8m2!3d12.7178048!4d80.0211542!16s%2Fg%2F11pqc2hv_f!3m5!1s0x3a52f9c0989ff441:0x3844ddfcbbb191f0!8m2!3d12.7178048!4d80.0211542!16s%2Fg%2F11pqc2hv_f?entry=ttu&g_ep=EgoyMDI2MDQxMy4wIKXMDSoASAFQAw%3D%3D"><i class="fa-solid fa-location-dot"></i>Mahindra-City</a>
        <h4>Key Responsibilities</h4>
        <ul>
            <li>Performed functional, reliability, and performance testing of semiconductor and electronic products to ensure compliance with quality standards.</li>
            <li>Developed and executed detailed test plans, test cases, and validation procedures while automating repetitive testing processes using Bash scripting.</li>
            <li>Worked extensively with Bash scripting to streamline testing tasks and automate workflows.</li>
            <li>Analyzed large datasets, generated reports, and provided actionable insights that contributed to defect reduction and yield improvement.</li>
            <li>Optimized testing workflows, enhanced processes, and contributed to improving overall product reliability through continuous monitoring.</li>
        </ul>
    </div>

    <!-- going to create the achievement box -->

    <center>
        <h1 class="achievename">Achievement</h1>
    </center>
    

    <div class="achievement-container">
        <div class="achievementbox">
            <div class="achieveiconbox">
                <i class="fa-solid fa-medal"></i>
            </div>
            <div class="achievement-content">
                <h3>Handball Championship - 2nd place</h3>
                <h4>Secured 2nd place in handball competition in Zone 14 at Trichy</h4>
                <button>2024</button>
            </div>
        </div>

        <div class="achievementbox">
            <div class="achieveiconbox">
                <i class="fa-solid fa-medal"></i>
            </div>
            <div class="achievement-content">
                <h3>Handball Championship - 3rd place</h3>
                <h4>Secured 3rd place in handball competition in Zone 14 at Trichy</h4>
                <button>2023</button>
            </div>
        </div>
    </div>

<!-- creating the connect box -->
    <center>
        <h1 class="nameconnect" id="contact">Get In Touch</h1>
    </center>

    <hr>

    <div class="contactbox">
        <h1>Micky's</h1>
        <h2>Portfolio</h2>

        <a><i class="fa fa-paper-plane"></i> moganjana711@gmail.com</a>
        <a><i class="fa-solid fa-phone"></i> +91 9080846985</a>
        <a href="https://www.linkedin.com/in/mogan-j-711mic2004"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
        <a><i class="fa-solid fa-location-dot"></i> Chennai - 600063</a>

        <div class="messagebox">
            <form id="contact-form">
                <input class="messageinput" name="user_name" placeholder="Name" required>
                <input class="messageinput" name="user_email" placeholder="Email-Id" type="email" required>
                <input class="messageinput" name="user_phone" placeholder="Phone-Number" type="number">
                <input class="messageinput" name="subject" placeholder="Subject">
                <textarea class="description" name="message" placeholder="Description" required></textarea>
                
                <button type="submit" id="send-button">SEND</button>
            </form>
        </div>
    </div>

    <hr>

    <div class="optionsbutton">
        <ul>
            <li>
                <a href="#home">Home</a>
            </li>
            <li>
                <a href="#skills">Skills</a>
            </li>
            <li>
                <a href="#project">Projects</a>
            </li>
            <li>
                <a href="#experience">Experience</a>
            </li>
            <li>
                <a href="#contact">Contact</a>
            </li>
        </ul>
    </div>

    <hr>


    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
      lucide.createIcons();
    </script>
    <script src="/static/script.js"></script>
</body>
</html>